* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 1rem;
}

.navbar .logo {
    font-size: 1.5rem;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

.nav-links a:hover {
    background-color: #5a5656;
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: start;
    padding-right: 550px;
    
}

.search-bar {
    display: flex;
    align-items: center;
    
}

.search-bar input {
    padding: 0.5rem;
    background-color: black;
    border: 2px solid;
    color: rgb(255, 255, 255);
    height: 50px;
    
}

.search-bar input::placeholder {
    color: #fffafa;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    
    .nav-links input:checked ~ .menu {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .menu li {
        text-align: center;
    }

    .menu li a {
        padding: 1rem;
        border-top: 1px solid #000000;
    }

    .search-bar {
        width: 50px;
        margin-top: 1rem;
        margin-right:120px ;
    }

    .search-bar input {
        width: 100%;
    }
}
.icon{
   display: flex;
   justify-content: space-evenly;
   margin-right: 120px;
   padding: 20px;
}
.love{
   padding-left: 20px;
}
.ove{
    padding-left: 20px;
}
.ve{
    padding-left: 20px;
}
.logo{
    padding-left: 300px;
}
.per{
    position: relative;
}
.jeri{
    height: 100%;
    width: 100vw;
}
.don{
      position: absolute;
      color: #ffffff;
      bottom: 350px;
      right: 120px;
      
}
.on{
    position: absolute;
    color: #ffffff;
    bottom: 320px;
    right: 170px;
    text-align: center;
}
.son{
    position: absolute;
    color: #fffafa;
    bottom: 295px;
    right: 130px;

}
.div1{
    position: absolute;
    bottom: 240px;
    right: 390px;
    background-color: white;
    width: 5%;
    height: 5%;

}
.head1{
    font-size: 15px;
    margin-top: 8px;
    margin-left: 9px;

}
.div2{
    position: absolute;
    bottom: 240px;
    right: 250px;
    background-color: white;
    width: 5%;
    height: 5%;

}
.div3{
    position: absolute;
    bottom: 240px;
    right: 110px;
    background-color: white;
    width: 5%;
    height: 5%;

}
.second{
    height: 100%;
    width: 100%;
    background-color: white;
   

}
.cool{
    text-align: center;
    padding: 40px;

}
.dis{
    text-align: center;
    padding: 10px;

}
.card{
    
    
}
.first{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;

}
.qwe{
    height: 150px;
    width: 150px;
}
.asd{
    height: 100%;
    width: 100vw;
}
.four{
    position: relative;
    margin-top: 30PX;
}
.div4{
  position: absolute;
  top: 400px;
  left: 40px;
  background-color: white;
  width: 5%;
  height: 5%;
}
.shop{
    font-size: 15px;
    margin-top: 8px;
    margin-left: 9px;

}
.troll{
    position: absolute;
  color: white;
  top: 300px;
  left: 40px;

}
.feel{
    position: absolute;
    color: white;
    top: 350px;
    left: 40px;
  

}
.spain{
    height: 100%;
    width: 100vw;
}
.five{
    position: relative;
    margin-top: 30PX;
}
.div5{
  position: absolute;
  top: 400px;
  left: 40px;
  background-color: white;
  width: 5%;
  height: 5%;
}
.yamal{
    font-size: 15px;
    margin-top: 8px;
    margin-left: 9px;

}
.cucu{
    position: absolute;
  color: white;
  top: 300px;
  left: 40px;

}
.cara{
    position: absolute;
    color: white;
    top: 350px;
    left: 40px;
  

}

.india{
    height: 100%;
    width: 100vw;
}
.six{
    position: relative;
    margin-top: 30PX;
}
.div6{
  position: absolute;
  top: 420px;
  left: 180px;
  background-color: white;
  width: 7%;
  height: 7%;
}
.raina{
    font-size: 15px;
    margin-top: 15px;
    margin-left: 12px;

}
.dhoni{
    position: absolute;
  color: white;
  top: 300px;
  left: 40px;

}
.sachin{
    position: absolute;
    color: white;
    top: 350px;
    left: 60px;
  

}
.hardik{
    position: absolute;
    color: white;
    top: 380px;
    left: 140px;
}
/* 7 */
.anu{
    height: 100%;
    width: 100vw;
}
.seven{
    position: relative;
    margin-top: 30PX;
}
.div7{
  position: absolute;
  top: 400px;
  right:  80px;
  background-color: white;
  width: 5%;
  height: 5%;
}
.rcb{
    font-size: 15px;
    margin-top: 8px;
    margin-left: 9px;

}
.virat{
    position: absolute;
  color: white;
  top: 300px;
  right:  40px;

}
.kholi{
    position: absolute;
    color: white;
    top: 350px;
    right: 50px;
  

}
/* 8 */
.italy{
    height: 100%;
    width: 100vw;
}
.eight{
    position: relative;
    margin-top: 30PX;
}
.div8{
  position: absolute;
  top: 400px;
  left: 40px;
  background-color: white;
  width: 5%;
  height: 5%;
}
.now{
    font-size: 15px;
    margin-top: 8px;
    margin-left: 9px;

}
.fereri{
    position: absolute;
  color: white;
  top: 300px;
  left: 40px;

}
.miami{
    position: absolute;
    color: white;
    top: 350px;
    left: 40px;
  

}
.ind{
    height: 100%;
    width: 100vw;
}
.nine{
    position: relative;
    margin-top: 30PX;
}
.div9{
  position: absolute;
  top: 420px;
  left: 40px;
  background-color: white;
  width: 5%;
  height: 2%;
}
.color{
    font-size: 15px;
    margin-top: 8px;
    margin-left: 9px;

}
.white{
    position: absolute;
  color: white;
  top: 300px;
  left: 40px;

}
.black{
    position: absolute;
    color: white;
    top: 350px;
    left: 40px;
  

}
.mixed{
    position: absolute;
    color: white;
    top: 380px;
    left: 40px;
}
/* 10 */
.france{
    height: 100%;
    width: 100vw;
}
.ten{
    position: relative;
    margin-top: 30PX;
}
.div10{
  position: absolute;
  top: 420px;
  left: 120px;
  background-color: white;
  width: 5%;
  height: 5%;
}
.red{
    font-size: 15px;
    margin-top: 8px;
    margin-left: 9px;

}
.ac{
    position: absolute;
  color: white;
  top: 320px;
  left: 70px;

}
.milan{
    position: absolute;
    color: white;
    top: 350px;
    left: 70px;
  

}
.fc{
    position: absolute;
    color: white;
    top: 390px;
    left: 40px;
    font-size: 20px;
}

/* styles.css */
.video-container {
    position: relative;
    width: 100%; /* Adjust width as needed */
    margin: 0 auto;
    height: auto; /* Center the container horizontally */
  }
  
  video {
    
    width: 100%; /* Make the video fill its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space below video */
  }
  

  .shop-button {
    position: absolute;
    display: inline-block;
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    align-items: center;
    left: 855px;
    top: 900px;
  }
  .kid{
    
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
   

}
.boy{
    text-align: center;
    padding: 40px;
}
.rrr{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-right: 220px;

    
    

}
.ddd{
    position: absolute;
    height: 300px;
    width: 300px;

    
}
.card1{

}
.waa{
    position: absolute;
    top: 240px;
    color: white;

}
.saa{
    position: absolute;
    top: 270px;
    color: white;
}
.back{
    position: relative;
    height: 50vh;
    width: 100%;
    background-color: #dad6ff;
    margin-top: 450px;
}
.jump{
    position: absolute;
    height: 650px;
    width: 680px;
    bottom: -100px;
    right: 290px;
}
.mess{
    position: absolute;
    width: 100%; /* Make the video fill its container */
    height: 700px; /* Maintain aspect ratio */
    display: block; 
    width: 700px;  
    left: 300px;


}
.net{
position: absolute;
color: #000000;
top: 20px;
left:95px;
font-size: 30px;
}
.vel{
    position: absolute;
color: #000000;
top: 70px;
left:80px;
font-size: 20px;

}
.div44{
    position: absolute;
    top: 100px;
    left: 80px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    width: 5%;
    height: 8%;
  }


.div45{
    position: absolute;
    top: 100px;
    left: 200px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    width: 12%;
    height: 8%;
  }


.zxc{
    font-size: 15px;
    margin-top: 8px;
    margin-left: 9px;


}
.bmw{
    font-size: 15px;
    margin-top: 8px;
    margin-left: 15px;


}
  

  
  







